spring:
  application:
    name: NRI-FINTECH Payroll
    server:
      port: 8080
  datasource:
    url: jdbc:postgresql://localhost:5432/payroll_db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
    initialization-mode: always

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: false
  flyway:
    enabled: true

# JWT Configuration
jwt:
  secret: dGhpc2lzYXZlcnlzdHJvbmdzZWNyZXRrZXl0aGF0c2hvdWxkYmVjaGFuZ2VkaW5wcm9kdWN0aW9uYW5ka2VwdHNlY3VyZWx5aW5lbnZpcm9ubWVudHZhcmlhYmxlcw==
  expiration-ms: 1800000  # 30 minutes in milliseconds

logging:
  level:
    org.flywaydb: DEBUG

